/* Navigation Bar Styles */
body {
    font-size: 62.5%;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
.nav-bar {
    background-color: white;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 1.1rem 1.6rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 1000;
}

.logo-box {
    width: 3.4rem;
    height: 3.4rem;
    background-color: #4CAF50;
    border-radius: 0.8rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-weight: bold;
    font-size: 1.3rem;
}

.page-links, .auth-links {
    display: flex;
    gap: 0.8rem;
    align-items: center;
}

.nav-bar a {
    color: black;
    margin: 0.5rem 1rem;
    text-decoration: none;
    font-size: 1.1rem;
    transition: color 0.3s;
}

.login-button {
    background-color: #4CAF50;
    color: white;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    border: none;
    border-radius: 0.4rem;
    cursor: pointer;
    width: auto;
}

.login-button:hover {
    background-color: #45a049;
}

/* Hover Line Effect */
.links {
    position: relative;
    padding: 8px 16px;
}

.links::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    height: 4px;
    width: 0;
    background-color: #4CAF50;
    border-radius: 50px;
    transition: width 0.4s ease;
}

.links:hover::before,
.links.active::before {
    width: 100%;
}

@media (max-width: 768px) {
    .nav-bar {
        justify-content: space-between;
        padding: 1rem 1rem;
    }
    .page-links, .auth-links {
        gap: 0.5rem;
    }
    .logo-box {
        width: 3.5rem;
        height: 3.5rem;
        font-size: 1.6rem;
    }
    .login-button {
        padding: 0.6rem 1.2rem;
        font-size: 1.2rem;
    }
}

/* FOOTER */
footer{
    margin-top: 50px;
    padding: 20px;
    background-color: #333;
    color: white;
    text-align: center;
    font-size: 16px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

/*Admin link */
.admin-link {
    color: white;
    text-decoration: none;
    display: inline-block;
    text-align: center;
}
.admin-link:hover {
    text-decoration: underline;
    color: #45a049;
}