/* Navigation Bar Styles */
.nav-bar {
    background-color: white;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 14px 16px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 1000;
}

.logo-box {
    width: 48px;
    height: 48px;
    background-color: #4CAF50;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-weight: bold;
    font-size: 20px;
}

.page-links, .auth-links {
    display: flex;
    gap: 10px;
    align-items: center;
}

.nav-bar a {
    color: black;
    margin: 14px 16px;
    text-decoration: none;
    font-size: 19px;
}

.login-button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100px;
}

.login-button:hover {
    background-color: #45a049;
}

/* Hover Line Effect */
.links {
    position: relative;
    padding: 8px 16px;
}

.links::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    height: 4px;
    width: 0;
    background-color: #4CAF50;
    border-radius: 50px;
    transition: width 0.4s ease;
}

.links:hover::before,
.links.active::before {
    width: 100%;
}

/* FOOTER */
footer{
    margin-top: 50px;
    padding: 20px;
    background-color: #333;
    color: white;
    text-align: center;
    font-size: 16px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

/*Admin link */
.admin-link {
    color: white;
    text-decoration: none;
    display: inline-block;
    text-align: center;
}
.admin-link:hover {
    text-decoration: underline;
    color: #45a049;
}