/* Navigation Bar Styles */
.nav-bar{
    background-color: white;
    overflow: hidden;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 14px 16px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.nav-bar a{
    color: black;
    text-align: center;
    margin: 14px 16px;
    text-decoration: none;
    font-size: 19px;
}
.page-links{
    display: flex;
    gap: 10px;
    align-items: center;
    text-align: center;
}
.logo{
    height: 50px;
    width: auto;
}
.login-button{
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border: none;
    border-radius: 4px;
}
.login-button:hover{
    background-color: #45a049;
}

/* Link Hover Effect */
.links{
    position: relative;
}
.links::before{
    content: "";
    position: absolute;
    bottom: -2px;
    height: 4px;
    width: 0;
    background-color: #45a049;
    border-radius: 50px;
    transition: width 0.4s ease;
}
.links:hover::before{
    width: 100%;
}

/*Content Section Styles */
.content-container{
    padding: 20px;
    margin: 20px;
    background: linear-gradient(to right, #45a049, #c6e0c7e0, #45a049e0);
    border-radius: 8px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 77vh;
}



